.tl-selects-wrapper {    
    display: flex;
    align-items: center;
}

.tl-selects-wrapper div p{
    margin-bottom:8px;
}

.tl-selects-wrapper div:first-child {
    width: 150px;
    margin-right: 16px;    
}

.tl-selects-wrapper .searchBox{
    display:none;
}
.tl-selects-wrapper [class^="optionListContainer"]{
    width: 150px;
}