p {
    word-wrap: break-word;
}

figure {
    margin-top: 16px;
}

table ol {
    padding-left: 0;
}

.overflow-table{
    max-height:600px;
    overflow-y:auto;
    margin-top:16px;
}

.form-alert{
    margin-top:16px;
}
